@model KanbanSystemListModel
@using Microsoft.AspNetCore.Html

@functions {
    class CardTasks
    {
        public UISystem Task { get; set; }
    }
}

@{
    Func<CardTasks, IHtmlContent> CreateCards = @<div class="card dx-card dx-theme-text-color" style="background-color:@item.Task.KanbanColor">
        <div class="card-priority priority-@((int)item.Task.Priority + 1)"></div>
        <div class="card-subject"><a href="/Feature/Kanban/@item.Task.Id">@item.Task.Name</a></div>
        <div class="card-assignee"><a href="/System/Edit/@item.Task.Id"> @item.Task.Info</a></div>
    </div>;
}

<div class="list">
    <div class="list-title dx-theme-text-color">@Model.Status</div>
    @(Html.DevExtreme().ScrollView()
        .ElementAttr("class", "scrollable-list")
        .Direction(ScrollDirection.Vertical)
        .ShowScrollbar(ShowScrollbarMode.Always)
        .Content(
            Html.DevExtreme().Sortable()
                .ElementAttr("class", "sortable-cards")
                .ItemOrientation(Orientation.Vertical)
                .MoveItemOnDrop(true)
                .Group("tasksGroup")
                .Content(@<text>
                    @foreach (var task in @Model.Systems) {
                        @CreateCards(new CardTasks { Task = task })
                    }
                </text>).ToString()
        )
    )
</div>
