@model BlitzerCore.Models.UI.UIUserStory


@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}

<div class="content-container">
    <h1>Create</h1>

    <h4>Requirement</h4>
    <hr />
    <!-- Tab links -->
    <div class="bans-3d">
        <div class="b_tab">
            <button class="b_tablinks" onclick="b_openPanel(event, 'b_Primary')" id="defaultOpen">Detail</button>
            <button class="b_tablinks" onclick="b_openPanel(event, 'b_Memo')">Memo</button>
        </div>
        <form asp-action="Edit">
            <div>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="IssuerID" />
                @Html.HiddenFor(m => m.returnUrl)

                <div class="col-10">
                    <div id="b_Primary" class="b_tabPanel" style="display:block">
                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Owner</label>
                                    <div><select class="form-control" asp-for="OwnerID" asp-items="@ViewBag.Agents"></select></div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Status</label>
                                    <div><select class="form-control" asp-for="Status" asp-items="@Html.GetEnumSelectList<UserStoryStatus>()"></select></div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Feature</label>
                                    <div>
                                        <select class="form-control" asp-for="FeatureId" asp-items="@ViewBag.Features">
                                            <option selected>N/A</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Sprint</label>
                                    <div>
                                        <select class="form-control" asp-for="SprintID" asp-items="@ViewBag.Sprints">
                                            <option selected>N/A</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-6">
                                        <label asp-for="Priority" class="control-label"></label>
                                        <input asp-for="Priority" class="form-control" />
                                        <span asp-validation-for="Priority" class="text-danger"></span>
                                    </div>
                                    <div class="form-group col-6">
                                        <label class="control-label">Level Of Effort</label>
                                        <input asp-for="LOE" class="form-control" />
                                        <span asp-validation-for="LOE" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-8 offset-2">
                                <textarea style="width:100%" asp-for="Description" rows="10"></textarea>
                            </div>
                        </div>
                    </div>
                    <div id="b_Memo" class="b_tabPanel">
                    </div>
                </div>
            </div>
            <div class="btn-clearence">
                <input type="submit" value="Save" class="btn btn-command" />
            </div>
        </form>
    </div>
</div>

<script>
    //document.getElementById("defaultOpen").click();

    function b_openPanel(evt, cityName) {
        // Declare all variables
        var i, tabcontent, tablinks;

        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName("b_tabPanel");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("b_tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }

        // Show the current tab, and add an "active" class to the button that opened the tab
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
    }

</script>
