@using Microsoft.AspNetCore.Identity
@inject SignInManager<WebApp.DataServices.BlitzerUser> SignInManager
@inject UserManager<WebApp.DataServices.BlitzerUser> UserManager

<!DOCTYPE html>
<html lang="en-US">

<head>
    <script src="~/js/site.js?dt=@DateTime.Now.ToString("yyyyMMddhhmmss")" asp-append-version="true"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    @*@if (false)
    {
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-159313961-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());

            gtag('config', 'UA-159313961-1');
        </script>
    }*@
    <title>@ViewBag.Title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="format-detection" content="telephone=no">

    <link rel="shortcut icon" href="~/images/Icons/EzeBlue.png">

    <link rel='stylesheet' href='/revslider/public/assets/css/settings.css' type='text/css' media='all'>
    <link rel='stylesheet' href='/css/animation.css' type='text/css' media='all'>
    <link rel='stylesheet' href='/css/jquery-ui-1.8.24.custom.css' type='text/css' media='all'>
    <link rel='stylesheet' href='/css/magnific-popup.css' type='text/css' media='all'>
    <link rel='stylesheet' href='/js/plugins/flexslider/flexslider.css' type='text/css' media='all'>
    <link rel='stylesheet' href='/css/tooltipster.css' type='text/css' media='all'>
    <link rel='stylesheet' href='/css/parallax.min.css' type='text/css' media='all'>
    <link rel='stylesheet' href='/css/supersized.css' type='text/css' media='all'>
    <link rel='stylesheet' href='/css/odometer-theme-minimal.css' type='text/css' media='all'>
    <link rel='stylesheet' href='/css/style.css' type='text/css' media='all'>
    <link rel='stylesheet' href='/css/font-awesome.min.css' type='text/css' media='all'>
    <link rel='stylesheet' href='/css/custom-css.css' type='text/css' media='all'>
    <link rel='stylesheet' href='/css/grid.css' type='text/css' media='all'>
    <link rel='stylesheet' href='/css/BlitzSite.css' type='text/css' media='all'>


    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Raleway%3A200%2C300%2C400%2C500%2C600%2C700%2C400italic&subset=latin%2Ccyrillic-ext%2Cgreek-ext%2Ccyrillic&ver=5.2.5' type='text/css' media='all'>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:600italic%7CRaleway:700%2C500" rel="stylesheet" property="stylesheet" type="text/css" media="all">
</head>

<body>
    <!-- Begin mobile menu -->
    <div class="mobile_menu_wrapper">
        <a id="close_mobile_menu" href="#"><i class="fa fa-times-circle"></i></a>
        <div class="menu-main-menu-container">
            <ul id="mobile_main_menu" class="mobile_main_nav">
                <li class="menu-item"><a href="/">Home</a></li>
                @if (SignInManager.IsSignedIn(User))
                {
                    @if (ViewBag != null && ViewBag.IsAdmin != null && ViewBag.IsAdmin)
                    {
                        <li class="menu-item"><a href="/Portal">Portal</a></li>
                        <li class="menu-item"><a href="/Media">Media</a></li>
                        <li class="menu-item"><a href="/Block">Blocks</a></li>
                        <li class="menu-item"><a href="/Page">Pages</a></li>
                        <li class="menu-item"><a href="/Home/Version">Version</a></li>
                    }
                    else if (ViewBag != null && ViewBag.IsClient != null && ViewBag.IsClient)
                    {
                        <li class="menu-item"><a href="/Client">Portal</a></li>
                    }
                    else
                    {
                        <li class="menu-item"><a href="https://atouchofeuropecom.sharepoint.com/sites/Agent">Agent World</a></li>
                        <li class="menu-item"><a href="/Portal">Portal</a></li>

                    }
                    <li class="menu-item">
                        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                            <button type="submit" class="menu-item">Logout</button>
                        </form>
                    </li>

                }
                else
                {
                    <li class="menu-item"><a href="/Countries">Destinations</a></li>
                    <li class="menu-item"><a href="/Media/Leisure">Leisure</a></li>
                    <li class="menu-item"><a href="/Media/Corporate">Corporate</a></li>
                    <li class="menu-item">
                        <a asp-area="Identity" asp-page="/Account/Login">Login</a>
                    </li>
                    <li class="menu-item"><a href="/Home/AboutUs">About Us</a></li>
                }

            </ul>
        </div>
    </div>
    <div class="header_style_wrapper">

        <div class="top_bar  hasbg ">

            <div id="mobile_nav_icon"></div>

            <div id="menu_wrapper">

                <!-- Begin logo -->
                <a id="custom_logo_transparent" class="logo_wrapper default" href="/" style="margin-top:0;margin-bottom:0">
                    <img src="/images/EzeLogo.png" width="83" height="83" alt="">
                </a>
                <!-- End logo -->

                <a href="tel:19198150200">
                    <div class="header_action">
                        <i class="fa fa-phone"></i>(919) 815-0200
                    </div>
                </a>

                @*<form role="search" method="get" name="searchform" id="searchform" action="#">
                        <div>
                            <label for="s">To Search, type and hit enter</label>
                            <input type="text" value="" name="s" id="s" autocomplete="off">
                            <button>
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                        <div id="autocomplete"></div>
                    </form>*@


                <!-- Begin main nav -->
                <div id="nav_wrapper">
                    <div class="nav_wrapper_inner">
                        <div id="menu_border_wrapper">
                            <div class="menu-main-menu-container">
                                <ul id="main_menu" class="nav">
                                    <li class="menu-item"><a href="/Countries">Destinations</a></li>
                                    @if (SignInManager.IsSignedIn(User))
                                    {
                                        @if (ViewBag != null && ViewBag.IsAdmin != null && ViewBag.IsAdmin)
                                        {
                                            <li class="menu-item"><a href="/Portal">Portal</a></li>
                                            <li class="menu-item"><a href="/Media">Media</a></li>
                                            <li class="menu-item"><a href="/Block">Blocks</a></li>
                                            <li class="menu-item"><a href="/Page">Pages</a></li>
                                            <li class="menu-item"><a href="/Home/Version">Version</a></li>
                                        }
                                        else if (ViewBag != null && ViewBag.IsClient != null && ViewBag.IsClient)
                                        {
                                            <li class="menu-item"><a href="/Client">Portal</a></li>
                                        }
                                        else
                                        {
                                            <li class="menu-item"><a href="https://atouchofeuropecom.sharepoint.com/sites/Agent">Agent World</a></li>
                                            <li class="menu-item"><a href="/Portal">Portal</a></li>

                                        }
                                        <li class="menu-item">
                                            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                                <button type="submit" class="menu-item">Logout</button>
                                            </form>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="menu-item"><a href="/Home/Leisure">Leisure</a></li>
                                        <li class="menu-item"><a href="/Home/Corporate">Corporate</a></li>
                                        <li class="menu-item">
                                            <a asp-area="Identity" asp-page="/Account/Login">Login</a>
                                        </li>
                                        <li class="menu-item"><a href="/Home/AboutUS">About Us</a></li>
                                    }

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- End main nav -->

            </div>
        </div>
    </div>


    <div data-rsssl="1" class="home page-template page-template-page_f page-template-page_f-php page page-id-3093 woocommerce-no-js">
        @RenderBody()

        <div class="footer_bar ">
            <div id="footer" class="">
                <ul class="sidebar_widget two">
                    <li id="text-2" class="widget widget_text">
                        <div class="textwidget">
                            <div style="text-align:left;margin-top:10px;">
                                <img src="/images/Icons/EzeWhitelogo.png" alt="" style="max-width:100px;">
                                <div style="margin-top:10px;max-width:250px">
                                    Inspiring Journeys, Unparalleled Experiences to bring your dreams to life. We make it "Eze2Travel" anywhere!
                                </div>
                            </div>
                        </div>
                    </li>
                    <li id="text-3" class="widget widget_text">
                        <h2 class="widgettitle">Contact Info</h2>
                        <div class="textwidget">
                            <ul class="address">
                                <li><i class="fa fa-map-marker"></i>9121 Anson Way <br />Suite 200 <br />Raleigh, NC 27615</li>
                                <li><i class="fa fa-phone"></i>(919) 815-0200</li>
                                <li><i class="fa fa-envelope"></i>info@Eze2travel.com</li>
                                <li><i class="fa fa-globe"></i>Eze2Travel.com</li>
                            </ul>
                        </div>
                    </li>
                    @*<li id="recent-posts-6" class="widget widget_recent_entries">
                            <h2 class="widgettitle">Recent Posts</h2>
                            <ul>
                                <li>
                                    <a href="standard-blog-post-with-image.html">Standard Blog Post With Image</a>
                                </li>
                                <li>
                                    <a href="standard-blog-post-with-image.html">Amazing Fullwidth Post</a>
                                </li>
                                <li>
                                    <a href="standard-blog-post-with-image.html">Link Post</a>
                                </li>
                                <li>
                                    <a href="standard-blog-post-with-image.html">Quote Post</a>
                                </li>
                                <li>
                                    <a href="standard-blog-post-with-image.html">Sidebar Post With Slideshow</a>
                                </li>
                            </ul>
                        </li>
                        <li id="tag_cloud-5" class="widget">
                            <h2 class="widgettitle">Tags</h2>
                            <div class="tagcloud">
                                <a href="standard-blog-post-with-image.html" class="tag-cloud-link" style="font-size: 13px;">blog</a>
                                <a href="standard-blog-post-with-image.html" class="tag-cloud-link" style="font-size: 13px;">city</a>
                                <a href="standard-blog-post-with-image.html" class="tag-cloud-link" style="font-size: 13px;">Design</a>
                                <a href="standard-blog-post-with-image.html" class="tag-cloud-link" style="font-size: 13px;">landscape</a>
                                <a href="standard-blog-post-with-image.html" class="tag-cloud-link" style="font-size: 13px;">model</a>
                                <a href="standard-blog-post-with-image.html" class="tag-cloud-link" style="font-size: 13px;">portrait</a>
                                <a href="standard-blog-post-with-image.html" class="tag-cloud-link" style="font-size: 13px;">street</a>
                                <a href="standard-blog-post-with-image.html" class="tag-cloud-link" style="font-size: 13px;">street photography</a>
                            </div>
                        </li>*@
                </ul>

                <br class="clear">
            </div>

            <div class="footer_bar_wrapper ">
                <div class="social_wrapper">
                    <ul>
                        <li class="facebook"><a href="https://www.facebook.com/eze2travel"><i class="fa fa-facebook"></i></a></li>
                        <li class="youtube"><a title="Youtube" href="https://www.youtube.com/channel/UClsg4Db_OP72jNQQT1NgMNA"><i class="fa fa-youtube"></i></a></li>
                        <li class="instagram"><a title="Instagram" href="https://www.Instagram.com/eze2travel"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
                <div><a href="/Home/Privacy">Privacy Policy</a></div>
                <div id="copyright">©  @DateTime.Now.Year - Eze2Travel, LLC</div>
                <br class="clear">
                <div id="toTop"><i class="fa fa-angle-up"></i></div>
            </div>
        </div>
    </div>

    <script src='~/js/jquery.js'></script>
    <script src='~/js/jquery-migrate.min.js'></script>
    <script src='~/revslider/public/assets/js/jquery.themepunch.tools.min.js'></script>
    <script src='~/revslider/public/assets/js/jquery.themepunch.revolution.min.js'></script>

    <script src="~/revslider/public/assets/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="~/revslider/public/assets/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="~/revslider/public/assets/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="~/revslider/public/assets/js/extensions/revolution.extension.navigation.min.js"></script>
    <script src="~/revslider/public/assets/js/extensions/revolution.extension.parallax.min.js"></script>
    <script src="~/revslider/public/assets/js/extensions/revolution.extension.actions.min.js"></script>
    <script src="~/revslider/public/assets/js/extensions/revolution.extension.video.min.js"></script>
    <script>
        function setREVStartSize(e) {
            try {
                e.c = jQuery(e.c);
                var i = jQuery(window).width(),
                    t = 9999,
                    r = 0,
                    n = 0,
                    l = 0,
                    f = 0,
                    s = 0,
                    h = 0;
                if (e.responsiveLevels && (jQuery.each(e.responsiveLevels, function (e, f) {
                    f > i && (t = r = f, l = e), i > f && f > r && (r = f, n = e)
                }), t > r && (l = n)), f = e.gridheight[l] || e.gridheight[0] || e.gridheight, s = e.gridwidth[l] || e.gridwidth[0] || e.gridwidth, h = i / s, h = h > 1 ? 1 : h, f = Math.round(h * f), "fullscreen" == e.sliderLayout) {
                    var u = (e.c.width(), jQuery(window).height());
                    if (void 0 != e.fullScreenOffsetContainer) {
                        var c = e.fullScreenOffsetContainer.split(",");
                        if (c) jQuery.each(c, function (e, i) {
                            u = jQuery(i).length > 0 ? u - jQuery(i).outerHeight(!0) : u
                        }), e.fullScreenOffset.split("%").length > 1 && void 0 != e.fullScreenOffset && e.fullScreenOffset.length > 0 ? u -= jQuery(window).height() * parseInt(e.fullScreenOffset, 0) / 100 : void 0 != e.fullScreenOffset && e.fullScreenOffset.length > 0 && (u -= parseInt(e.fullScreenOffset, 0))
                    }
                    f = u
                } else void 0 != e.minHeight && f < e.minHeight && (f = e.minHeight);
                e.c.closest(".rev_slider_wrapper").css({
                    height: f
                })
            } catch (d) {
                console.log("Failure at Presize of Slider:" + d)
            }
        };
    </script>

    <script>
        function revslider_showDoubleJqueryError(sliderID) {
            var errorMessage = "Revolution Slider Error: You have some jquery.js library include that comes after the revolution files js include.";
            errorMessage += "<br> This includes make eliminates the revolution slider libraries, and make it not work.";
            errorMessage += "<br><br> To fix it you can:<br>&nbsp;&nbsp;&nbsp; 1. In the Slider Settings -> Troubleshooting set option:  <strong><b>Put JS Includes To Body</b></strong> option to true.";
            errorMessage += "<br>&nbsp;&nbsp;&nbsp; 2. Find the double jquery.js include and remove it.";
            errorMessage = "<span style='font-size:16px;color:#BC0C06;'>" + errorMessage + "</span>";
            jQuery(sliderID).show().html(errorMessage);
        }
    </script>

    <script src='~/js/plugins/parallax.min.js'></script>
    <script src='~/js/plugins/jquery.easing.js'></script>
    <script src='~/js/plugins/jquery.magnific-popup.js'></script>
    <script src='~/js/plugins/waypoints.min.js'></script>
    <script src='~/js/plugins/jquery.isotope.js'></script>
    <script src='~/js/plugins/jquery.masory.js'></script>
    <script src='~/js/plugins/jquery.tooltipster.min.js'></script>
    <script src='~/js/plugins/custom_plugins.js'></script>
    <script src='~/js/plugins/custom.js'></script>
    <script src='~/js/ui/core.min.js'></script>
    <script src='~/js/ui/datepicker.min.js'></script>
    <script src='~/js/plugins/custom-date.js'></script>
    <script src='~/js/plugins/flexslider/jquery.flexslider-min.js'></script>
    <script src='~/js/plugins/script-plugins.js'></script>
    <script src='~/js/plugins/odometer.min.js'></script>
    <script src='~/js/plugins/script-plugins.js'></script>

    <script>
        var htmlDiv = document.getElementById("rs-plugin-settings-inline-css");
        var htmlDivCss = "";
        if (htmlDiv) {
            htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
        } else {
            var htmlDiv = document.createElement("div");
            htmlDiv.innerHTML = "<style>" + htmlDivCss + "</style>";
            document.getElementsByTagName("head")[0].appendChild(htmlDiv.childNodes[0]);
        }
    </script>
    <script>
        var htmlDiv = document.getElementById("rs-plugin-settings-inline-css");
        var htmlDivCss = ".tp-caption.pp_subheader,.pp_subheader{font-size:16px;line-height:30px;font-weight:600;color:rgb(255,255,255);font-style:italic;text-decoration:none;background-color:transparent;border-width:0px 0px 2px 0px;border-color:rgb(255,255,255);border-style:solid;text-transform:uppercase;text-shadow:none}.tp-caption.pp_header,.pp_header{color:#ffffff;background-color:transparent;text-decoration:none;font-size:80px;line-height:114px;font-weight:700;font-family:Raleway;border-width:0px;border-color:rgb(0,0,0);border-style:none;text-shadow:none;text-transform:uppercase}.tp-caption.pp_content,.pp_content{color:#ffffff;background-color:transparent;text-decoration:none;font-size:16px;line-height:26px;font-weight:500;font-family:Raleway;border-width:0px;border-color:rgb(0,0,0);border-style:none;text-shadow:none}";
        if (htmlDiv) {
            htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
        } else {
            var htmlDiv = document.createElement("div");
            htmlDiv.innerHTML = "<style>" + htmlDivCss + "</style>";
            document.getElementsByTagName("head")[0].appendChild(htmlDiv.childNodes[0]);
        }
    </script>
    <script>
        if (setREVStartSize !== undefined) setREVStartSize({
            c: '#rev_slider_1_1',
            gridwidth: [960],
            gridheight: [868],
            sliderLayout: 'fullscreen',
            fullScreenAutoWidth: 'off',
            fullScreenAlignForce: 'off',
            fullScreenOffsetContainer: '',
            fullScreenOffset: ''
        });

        var revapi1,
            tpj;
        (function () {
            if (!/loaded|interactive|complete/.test(document.readyState)) document.addEventListener("DOMContentLoaded", onLoad);
            else onLoad();

            function onLoad() {
                if (tpj === undefined) {
                    tpj = jQuery;
                    if ("on" == "on") tpj.noConflict();
                }
                if (tpj("#rev_slider_1_1").revolution == undefined) {
                    revslider_showDoubleJqueryError("#rev_slider_1_1");
                } else {
                    revapi1 = tpj("#rev_slider_1_1").show().revolution({
                        sliderType: "standard",
                        jsFileLocation: "revslider/public/assets/js/",
                        sliderLayout: "fullscreen",
                        dottedOverlay: "none",
                        delay: 9000,
                        navigation: {
                            keyboardNavigation: "off",
                            keyboard_direction: "horizontal",
                            mouseScrollNavigation: "off",
                            mouseScrollReverse: "default",
                            onHoverStop: "on",
                            touch: {
                                touchenabled: "on",
                                touchOnDesktop: "off",
                                swipe_threshold: 75,
                                swipe_min_touches: 1,
                                swipe_direction: "horizontal",
                                drag_block_vertical: false
                            },
                            arrows: {
                                style: "gyges",
                                enable: true,
                                hide_onmobile: false,
                                hide_onleave: false,
                                tmp: '',
                                left: {
                                    h_align: "left",
                                    v_align: "center",
                                    h_offset: 20,
                                    v_offset: 0
                                },
                                right: {
                                    h_align: "right",
                                    v_align: "center",
                                    h_offset: 20,
                                    v_offset: 0
                                }
                            },
                            bullets: {
                                enable: true,
                                hide_onmobile: false,
                                style: "uranus",
                                hide_onleave: false,
                                direction: "horizontal",
                                h_align: "center",
                                v_align: "bottom",
                                h_offset: 0,
                                v_offset: 20,
                                space: 5,
                                tmp: '<span class="tp-bullet-inner"></span>'
                            }
                        },
                        visibilityLevels: [1240, 1024, 778, 480],
                        gridwidth: 960,
                        gridheight: 868,
                        lazyType: "none",
                        shadow: 0,
                        spinner: "spinner2",
                        stopLoop: "off",
                        stopAfterLoops: -1,
                        stopAtSlide: -1,
                        shuffle: "off",
                        autoHeight: "off",
                        fullScreenAutoWidth: "off",
                        fullScreenAlignForce: "off",
                        fullScreenOffsetContainer: "",
                        fullScreenOffset: "",
                        disableProgressBar: "on",
                        hideThumbsOnMobile: "off",
                        hideSliderAtLimit: 0,
                        hideCaptionAtLimit: 0,
                        hideAllCaptionAtLilmit: 0,
                        debugMode: false,
                        fallbacks: {
                            simplifyAll: "off",
                            nextSlideOnWindowFocus: "off",
                            disableFocusListener: false,
                        }
                    });
                }; /* END OF revapi call */

            }; /* END OF ON LOAD FUNCTION */
        }()); /* END OF WRAPPING FUNCTION */
    </script>
    <script>
        var htmlDivCss = ' #rev_slider_1_1_wrapper .tp-loader.spinner2{ background-color: #ffffff !important; } ';
        var htmlDiv = document.getElementById('rs-plugin-settings-inline-css');
        if (htmlDiv) {
            htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
        } else {
            var htmlDiv = document.createElement('div');
            htmlDiv.innerHTML = '<style>' + htmlDivCss + '</style>';
            document.getElementsByTagName('head')[0].appendChild(htmlDiv.childNodes[0]);
        }
    </script>
    <script>
        var htmlDivCss = unescape("%0A%23rev_slider_1_1%20.uranus%20.tp-bullet%7B%0A%20%20border-radius%3A%2050%25%3B%0A%20%20box-shadow%3A%200%200%200%202px%20rgba%28255%2C%20255%2C%20255%2C%200%29%3B%0A%20%20-webkit-transition%3A%20box-shadow%200.3s%20ease%3B%0A%20%20transition%3A%20box-shadow%200.3s%20ease%3B%0A%20%20background%3Atransparent%3B%0A%20%20width%3A15px%3B%0A%20%20height%3A15px%3B%0A%7D%0A%23rev_slider_1_1%20.uranus%20.tp-bullet.selected%2C%0A%23rev_slider_1_1%20.uranus%20.tp-bullet%3Ahover%20%7B%0A%20%20box-shadow%3A%200%200%200%202px%20rgba%28255%2C%20255%2C%20255%2C1%29%3B%0A%20%20border%3Anone%3B%0A%20%20border-radius%3A%2050%25%3B%0A%20%20background%3Atransparent%3B%0A%7D%0A%0A%23rev_slider_1_1%20.uranus%20.tp-bullet-inner%20%7B%0A%20%20-webkit-transition%3A%20background-color%200.3s%20ease%2C%20-webkit-transform%200.3s%20ease%3B%0A%20%20transition%3A%20background-color%200.3s%20ease%2C%20transform%200.3s%20ease%3B%0A%20%20top%3A%200%3B%0A%20%20left%3A%200%3B%0A%20%20width%3A%20100%25%3B%0A%20%20height%3A%20100%25%3B%0A%20%20outline%3A%20none%3B%0A%20%20border-radius%3A%2050%25%3B%0A%20%20background-color%3A%20rgb%28255%2C%20255%2C%20255%29%3B%0A%20%20background-color%3A%20rgba%28255%2C%20255%2C%20255%2C%200.3%29%3B%0A%20%20text-indent%3A%20-999em%3B%0A%20%20cursor%3A%20pointer%3B%0A%20%20position%3A%20absolute%3B%0A%7D%0A%0A%23rev_slider_1_1%20.uranus%20.tp-bullet.selected%20.tp-bullet-inner%2C%0A%23rev_slider_1_1%20.uranus%20.tp-bullet%3Ahover%20.tp-bullet-inner%7B%0A%20transform%3A%20scale%280.4%29%3B%0A%20-webkit-transform%3A%20scale%280.4%29%3B%0A%20background-color%3Argb%28255%2C%20255%2C%20255%29%3B%0A%7D%0A");
        var htmlDiv = document.getElementById('rs-plugin-settings-inline-css');
        if (htmlDiv) {
            htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
        } else {
            var htmlDiv = document.createElement('div');
            htmlDiv.innerHTML = '<style>' + htmlDivCss + '</style>';
            document.getElementsByTagName('head')[0].appendChild(htmlDiv.childNodes[0]);
        }
    </script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)

</body>

</html>
