<style type="text/css">
    @@media (min-width: 560px) {
        .ResortVideo {
            width: 560px;
            height: 460px;
        }
    }
</style>

<style type="text/css">
    @@media (min-width: 768px) {
        .ResortVideo {
            width: 560px;
            height: 460px;
        }
    }
</style>

<style type="text/css">
    @@media (min-width: 1400px) {
        .ResortLeftPanel {
            display: inline;
        }

        .ResortVideo {
            width: 960px;
            height: 540px;
        }
        /*        .ResortRightPanel {
            margin-bottom: 50px !important;
            font-size: 20px;
        }*/
        .ResortPromoBanner {
            display: inline;
        }
    }
</style>

<div class="content-container heading-prop-2" style="padding-top:130px; width:80%;margin:auto;">
    <div class="">
        <h1>@Model.PageTitle</h1>
        @foreach (var lRanking in Model.Rankings)
        {
            <h3>@lRanking.Position <span>@lRanking.ResortPage.PageTitle</span></h3>
            <p class="ResortSummary">@lRanking.ResortPage.CenterContent.Summary</p>
            <p style="text-align:center">
                @if (lRanking.ResortPage.CenterContent.Video != null && lRanking.ResortPage.CenterContent.Video.Location != null && lRanking.ResortPage.CenterContent.Video.Location.Length > 0)
                {
                    <video class="ResortVideo" controls>
                        <source src="@lRanking.ResortPage.CenterContent.Video.Location" type="video/mp4">
                    </video>
                }
            </p>
        }
    </div>
</div><!-- #primary -->