@using Microsoft.AspNetCore.Identity
@inject SignInManager<WebApp.DataServices.BlitzerUser> SignInManager
@inject UserManager<WebApp.DataServices.BlitzerUser> UserManager
<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="format-detection" content="telephone=no">

    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="/images/Icons/EzeBlue.png">

    <link rel="stylesheet" href="/css/Countries.css" />
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel='stylesheet' href='/revslider/public/assets/css/settings.css' type='text/css' media='all'>
    <link rel='stylesheet' href='/css/animation.css' type='text/css' media='all'>
    <link rel='stylesheet' href='/css/jquery-ui-1.8.24.custom.css' type='text/css' media='all'>
    <link rel='stylesheet' href='/css/magnific-popup.css' type='text/css' media='all'>
    <link rel='stylesheet' href='/js/plugins/flexslider/flexslider.css' type='text/css' media='all'>
    <link rel='stylesheet' href='/css/tooltipster.css' type='text/css' media='all'>
    <link rel='stylesheet' href='/css/parallax.min.css' type='text/css' media='all'>
    <link rel='stylesheet' href='/css/supersized.css' type='text/css' media='all'>
    <link rel='stylesheet' href='/css/odometer-theme-minimal.css' type='text/css' media='all'>
    <link rel='stylesheet' href='/css/style.css' type='text/css' media='all'>
    <link rel='stylesheet' href='/css/font-awesome.min.css' type='text/css' media='all'>
    <link rel='stylesheet' href='/css/custom-css.css' type='text/css' media='all'>
    <link rel='stylesheet' href='/css/grid.css' type='text/css' media='all'>
    <link rel='stylesheet' href='/css/Site.css' type='text/css' media='all'>
    <link rel='stylesheet' href='/css/BlitzSite.css' type='text/css' media='all'>

    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Raleway%3A200%2C300%2C400%2C500%2C600%2C700%2C400italic&subset=latin%2Ccyrillic-ext%2Cgreek-ext%2Ccyrillic&ver=5.2.5' type='text/css' media='all'>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:600italic%7CRaleway:700%2C500" rel="stylesheet" property="stylesheet" type="text/css" media="all">


    <link rel="stylesheet" href="~/css/DevExtreme.css" asp-append-version="true" />
    @*<script src="/js/DevExtreme.js"></script>*@
    <script src="~/js/vendor.js" asp-append-version="true"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    @if (ViewExtensions.isRelease())
    {
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-159313961-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());

            gtag('config', 'UA-159313961-1');
        </script>
    }
</head>

<body>



    <main role="main" class="BlitzMain">
        <div class="header_style_wrapper" style="background-color: #0d2575;">
            <div class="top_bar  hasbg ">
                <div id="mobile_nav_icon"></div>
                <div id="menu_wrapper">
                    <!-- Begin logo -->
                    <a id="custom_logo_transparent" class="logo_wrapper default" href="/" style="margin-top:0;margin-bottom:0">
                        <img src="/images/EzeLogo.png" width="83" height="83" alt="">
                    </a>
                    <!-- End logo -->
                    <a href="tel:19198150200">
                        <div class="header_action">
                            <i class="fa fa-phone"></i>(919) 815-0200
                        </div>
                    </a>
                    <!-- Begin main nav -->
                    <div id="nav_wrapper">
                        <div class="nav_wrapper_inner">
                            <div id="menu_border_wrapper">
                                <div class="menu-main-menu-container">
                                    <ul id="main_menu" class="nav">
                                        @*<li class="menu-item"><a href="/">Home</a></li>*@
                                        @if (SignInManager.IsSignedIn(User))
                                        {
                                            <li class="menu-item"><a href="/Countries">Destinations</a></li>
                                            <li class="menu-item"><a href="/Portal">Portal</a></li>
                                            <li class="menu-item"><a href="/Page">Pages</a></li>
                                            <li class="menu-item menu-item-has-children">
                                                <a href="#">Lookups</a>
                                                <ul class="sub-menu">
                                                    <li class="menu-item"><a href="Category">Category</a></li>
                                                </ul>
                                            </li>

                                            <li class="menu-item"><a href="/Block">Blocks</a></li>
                                            <li class="menu-item"><a href="/Media">Media</a></li>
                                            <li class="menu-item">
                                                <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Logged In!</a>
                                            </li>
                                            <li class="menu-item">
                                                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                                    <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                                                </form>
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="menu-item"><a href="/">Home</a></li>
                                            <li class="menu-item"><a href="/Countries">Destinations</a></li>
                                            <li class="menu-item"><a href="/Home/Leisure">Leisure</a></li>
                                            <li class="menu-item"><a href="/Home/Corporate">Corporate</a></li>
                                            <li class="menu-item">
                                                <a asp-area="Identity" asp-page="/Account/Login">Login</a>
                                            </li>
                                            <li class="menu-item"><a href="/Home/Aboutus">About Us</a></li>
                                        }

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End main nav -->
                </div>
            </div>
        </div>
        <!-- End main nav -->

        <div class="row">
            @* the left side bar *@
            <div class="col-1">
                <div>
                    <a href="/Portal">Dashboard</a>
                </div>
                <div>
                    <a href="/Contacts">Contacts</a>
                </div>
                <div>
                    <a href="/Pipeline">Trips</a>
                </div>
            </div>
            <div class="col-11">
                @RenderBody()
            </div>
        </div>
        <div class="footer_bar ">
            <div id="footer" class="">
                <ul class="sidebar_widget two">
                    <li id="text-2" class="widget widget_text">
                        <div class="textwidget">
                            <div style="text-align:left;margin-top:10px;">
                                <img src="/images/Icons/EzeWhitelogo.png" alt="" style="max-width:100px;">
                                <div style="margin-top:10px;max-width:250px">
                                    Inspiring Journeys, Unparalleled experiences to bring your dreams to life. We make it "Eze2Travel" anywhere!
                                </div>
                            </div>
                        </div>
                    </li>
                    <li id="text-3" class="widget widget_text">
                        <h2 class="widgettitle">Contact Info</h2>
                        <div class="textwidget">
                            <ul class="address">
                                <li><i class="fa fa-map-marker"></i>9121 Anson Way<br />Suite 200 <br />Raleigh, NC 27615</li>
                                <li><i class="fa fa-phone"></i>(919) 815-0200</li>
                                <li><i class="fa fa-envelope"></i>info@Eze2travel.com</li>
                                <li><i class="fa fa-globe"></i>Eze2Travel.com</li>
                            </ul>
                        </div>
                    </li>
                </ul>

                <br class="clear">
            </div>

            <div class="footer_bar_wrapper ">
                <div class="social_wrapper">
                    <ul>
                        <li class="facebook"><a href="https://www.facebook.com/eze2travel"><i class="fa fa-facebook"></i></a></li>
                        <li class="youtube"><a title="Youtube" href="https://www.youtube.com/channel/UClsg4Db_OP72jNQQT1NgMNA"><i class="fa fa-youtube"></i></a></li>
                        <li class="instagram"><a title="Instagram" href="https://www.Instagram.com/eze2travel"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
                <div id="copyright">©  @DateTime.Now.Year - Eze2Travel, LLC</div>
                <br class="clear">
                <div id="toTop"><i class="fa fa-angle-up"></i></div>
            </div>
        </div>

        <script src='~/js/jquery.js'></script>
        <script src='~/js/jquery-migrate.min.js'></script>
        @RenderSection("Scripts", required: false)

    </main>
</body>
</html>
