@model BlitzerCore.Models.ASP.ASPContact

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}
<div>
    <h1 class="title-header">Edit Contact</h1>
    <div class="content-container">
        <div class="breadcrumbs">
            <a class="breadcrumbs-link" href="/Portal">Portal</a>/
            <a class="breadcrumbs-link current" href="/Contacts/Details/@Model.Id">Contact</a>
        </div>
    </div>
</div>
<hr class="title-hr mt-0" />

<div class="content-container">
    <!-- Tab links -->
    <form asp-action="Edit">
        <div class="bans-3d" style="width:90%">
            <div class="b_tab">
                <button class="b_tablinks header-ban-text ban-btn active" type="button" onclick="b_openPanel(event, 'b_Primary')" id="defaultOpen">Primary</button>
                <button class="b_tablinks header-ban-text ban-btn" type="button" onclick="b_openPanel(event, 'b_TravelInfo')">Travel Info</button>
                <button class="b_tablinks header-ban-text ban-btn" type="button" onclick="b_openPanel(event, 'Memberships')">Memberships</button>
                <button class="b_tablinks header-ban-text ban-btn" type="button" onclick="b_openPanel(event, 'b_Passport')">Passport</button>
                <button class="b_tablinks header-ban-text ban-btn" type="button" onclick="b_openPanel(event, 'b_Notes')">Notes</button>
                <button class="b_tablinks header-ban-text ban-btn" type="button" onclick="b_openPanel(event, 'b_Admin')">Admin</button>
            </div>
            <div>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                @Html.HiddenFor(m => m.ActivationDate)

                <div>
                    <div id="b_Primary" class="b_tabPanel" style="display:block">
                        <div class="row">
                            <div class="col-md-4 offset-md-2">
                                <div class="form-group">
                                    <label asp-for="NickName" class="control-label"></label>
                                    <input asp-for="NickName" class="form-control" />
                                    <span asp-validation-for="NickName" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Title" class="control-label"></label>
                                    <input asp-for="Title" class="form-control" />
                                    <span asp-validation-for="Title" class="text-danger"></span>
                                </div>
                                @{
                                    var lRequiredField = "background-color:lightsalmon";
                                    var lFirstRequired = lRequiredField;
                                    if (Model.First != null && Model.First.Length > 0)
                                        lFirstRequired = "";
                                }
                                <div class="form-group">
                                    <label asp-for="First" class="control-label"></label>
                                    <input asp-for="First" class="form-control" style="@lFirstRequired" />
                                    <span asp-validation-for="First" class="text-danger"></span>
                                </div>
                                @{
                                    var lMiddleRequired = lRequiredField;
                                    if (Model.Middle_IsBlank == true || Model.Middle != null && Model.Middle.Length > 0)
                                        lMiddleRequired = "";
                                }
                                <div class="form-group">
                                    <div class="row">
                                        <label class="col-7 control-label">Middle</label>
                                        <span class="col-4" style="text-align:right">Is Blank</span>
                                        <input class="form-control col-1" style="height:20px;" asp-for="Middle_IsBlank"  />
                                    </div>
                                    <input asp-for="Middle" class="form-control" style="@lMiddleRequired" />
                                    <span asp-validation-for="Middle" class="text-danger"></span>
                                </div>
                                @{
                                    var lLastRequired = lRequiredField;
                                    if (Model.Last != null && Model.Last.Length > 0)
                                        lLastRequired = "";
                                }
                                <div class="form-group">
                                    <label asp-for="Last" class="control-label"></label>
                                    <input asp-for="Last" class="form-control" style="@lLastRequired" />
                                    <span asp-validation-for="Last" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Suffix" class="control-label"></label>
                                    <input asp-for="Suffix" class="form-control" />
                                    <span asp-validation-for="Suffix" class="text-danger"></span>
                                </div>
                                @{
                                    var lDOBRequired = lRequiredField;
                                    if (Model.DOB != null && Model.DOB.Length > 0)
                                        lDOBRequired = "";
                                }
                            <div class="form-group row">
                                <div class="col-6">
                                    <label asp-for="DOB" class="control-label"></label>
                                    <input asp-for="DOB" class="form-control" />
                                    <span asp-validation-for="DOB" class="text-danger"></span>
                                </div>
                                <div  class="col-6">
                                    <label asp-for="Anniversary" class="control-label"></label>
                                    <input asp-for="Anniversary" class="form-control" />
                                    <span asp-validation-for="Anniversary" class="text-danger"></span>
                                </div>
                            </div>
                                <div class="form-group">
                                    <label>Employer</label>
                                    <div>
                                        <select class="form-control" asp-for="@Model.EmployerId" asp-items="ViewBag.Employers">
                                            <option selected>Not Identified</option>=
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="PrimaryPhone" class="control-label"></label>
                                    <input asp-for="PrimaryPhone" class="form-control" />
                                    <span asp-validation-for="PrimaryPhone" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="PrimaryEmail" class="control-label"></label>
                                    <input asp-for="PrimaryEmail" class="form-control" />
                                    <span asp-validation-for="PrimaryEmail" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Gender" class="control-label"></label>
                                    <select asp-for="Gender" class="form-control" asp-items="@Html.GetEnumSelectList<Gender>()"></select>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Address1" class="control-label"></label>
                                    <input asp-for="Address1" class="form-control" />
                                    <span asp-validation-for="Address1" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Address2" class="control-label"></label>
                                    <input asp-for="Address2" class="form-control" />
                                    <span asp-validation-for="Address2" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="City" class="control-label"></label>
                                    <input asp-for="City" class="form-control" />
                                    <span asp-validation-for="City" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="State" class="control-label"></label>
                                    <input asp-for="State" class="form-control" />
                                    <span asp-validation-for="State" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="ZipCode" class="control-label"></label>
                                    <input asp-for="ZipCode" class="form-control" />
                                    <span asp-validation-for="ZipCode" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="Memberships" class="b_tabPanel">
                        @{
                            int lFFID = 1;
                            //string FFNumber = "";
                            //string HotelNumber = "";
                            //string CarNumber = "";
                        }
                        <div class="row">
                            <div class="col-md-4">
                                <div class="label-custom">Frequent Flyer</div>
                                <div><select class="form-control" asp-for="@lFFID" asp-items="@Model.FrequentFlyerMemberShips"></select></div>
                                <input id="FFData" class="form-control" />
                                <div class="text-center">
                                    <input class="mt-3" type="button" onclick="AddFF()" value="Add" />
                                </div>
                                <hr />
                                @foreach (var lMembership in Model.MemberShips.Where(x => x.TypeOfMemberShip == MemberShipType.AirLine))
                                {
                                    <div class="row">
                                        <div class="col-3">@lMembership.Company.Name</div>
                                        <div class="col-9 text-right">@lMembership.Number</div>
                                    </div>
                                }
                            </div>
                            <div class="col-md-4">
                                <div class="label-custom">Hotel</div>
                                <div><select class="form-control" asp-for="@lFFID" asp-items="@Model.HotelMemberShips"></select></div>
                                <input id="HotelData" class="form-control" />
                            </div>
                            <div class="col-md-4">
                                <div class="label-custom">Car</div>
                                <div><select class="form-control" asp-for="@lFFID" asp-items="@Model.CarMemberShips"></select></div>
                                <input id="CarData" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div id="b_TravelInfo" class="b_tabPanel">
                        <div class="row">
                            <div class="col-md-4 offset-md-4">
                                <div class="form-group">
                                    <label asp-for="AAA_Member" class="control-label text-center"></label>
                                    <input asp-for="AAA_Member" class="form-control" />
                                    <span asp-validation-for="AAA_Member" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="GlobalEntryNumber" class="control-label"></label>
                                    <input asp-for="GlobalEntryNumber" class="form-control" />
                                    <span asp-validation-for="GlobalEntryNumber" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="TSANumber" class="control-label"></label>
                                    <input asp-for="TSANumber" class="form-control" />
                                    <span asp-validation-for="TSANumber" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="SeatPreferences" class="control-label"></label>
                                    <select asp-for="SeatPreferences" class="form-control"></select>
                                    <span asp-validation-for="SeatPreferences" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="MealRequest" class="control-label"></label>
                                    <select asp-for="MealRequest" class="form-control"></select>
                                    <span asp-validation-for="MealRequest" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="SpecialRequests" class="control-label"></label>
                                    <input asp-for="SpecialRequests" class="form-control" />
                                    <span asp-validation-for="SpecialRequests" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="b_Passport" class="b_tabPanel">
                        <div class="row">
                            <div class="col-md-4 offset-md-4">
                                <div class="form-group">
                                    <label asp-for="PassportNumber" class="control-label"></label>
                                    <input asp-for="PassportNumber" class="form-control" />
                                    <span asp-validation-for="PassportNumber" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="PassportCountry" class="control-label"></label>
                                    <input asp-for="PassportCountry" class="form-control" />
                                    <span asp-validation-for="PassportCountry" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="PassportExpirationDate" class="control-label"></label>
                                    <input asp-for="PassportExpirationDate" class="form-control" />
                                    <span asp-validation-for="PassportExpirationDate" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="PassportIssueDate" class="control-label"></label>
                                    <input asp-for="PassportIssueDate" class="form-control" />
                                    <span asp-validation-for="PassportIssueDate" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="PassportIssueAgency" class="control-label"></label>
                                    <input asp-for="PassportIssueAgency" class="form-control" />
                                    <span asp-validation-for="PassportIssueAgency" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="b_Notes" class="b_tabPanel">
                        <div class="w-100">
                            <textarea asp-for="Notes" class="w-100" rows="14"></textarea>
                        </div>
                    </div>
                    <div id="b_Admin" class="b_tabPanel">
                        <div class="form-group">
                            <label asp-for="Deleted" class="control-label text-center"></label>
                            <input asp-for="Deleted" class="form-control" />
                            <span asp-validation-for="Deleted" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="btn-clearence">
            <input type="submit" value="Save" class="btn-command" />
        </div>
    </form>
</div>
<script>
    //document.getElementById("defaultOpen").click();

    function b_openPanel(evt, cityName) {
        // Declare all variables
        var i, tabcontent, tablinks;

        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName("b_tabPanel");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("b_tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }

        // Show the current tab, and add an "active" class to the button that opened the tab
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
    }

    function AddFF() {
        alert("Clicked Add FF");
    }
</script>
